  <div class="thumbnail">
      <div class="caption">
          <h4>{{title}}</h4>
          <p>{{description}}</p>
      </div>
      <img src="{{imageUrl}}"  class="img-responsive max-height-150">
  </div>
